<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>
    {{ page.title | default: site.title }}
  </title>

  <meta
    name="description"
    content="{{ page.description | default: site.description }}"
  >

  <link
    rel="stylesheet"
    href="{{ '/assets/css/style.css' | relative_url }}"
  >

</head>


<body>

  {{ content }}


  <script>

    function openTab(event, tabName) {

      const tabContents =
        document.querySelectorAll(".tab-content");

      tabContents.forEach(function(tab) {
        tab.classList.remove("active");
      });


      const tabButtons =
        document.querySelectorAll(".tab-button");

      tabButtons.forEach(function(button) {
        button.classList.remove("active");
      });


      document
        .getElementById(tabName)
        .classList.add("active");


      event.currentTarget.classList.add("active");

    }

  </script>

</body>

</html>